/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .icon_list{
        text-align: center;
    }
    .log_shop ul{
        text-align: center;
    }
    .panel {
        position: initial;
        background: white;
        border-radius: 3px;
        text-align: left;
        padding: 25px 25px;
        display: block;
    }

    .quick{
        text-align: center;
    }
    .contact{
        text-align: center;
    }

    .media_box {
        text-align: center;
    }
    .media_box ul{
        text-align: center;
    }
    .logo_box{
        text-align: center;
    }
    .yt_videos {
        padding: 4px 0;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px){


    .icon_list{
        text-align: center;
    }
    .log_shop ul{
        text-align: center;
    }
    .panel {
        position: initial;
        background: white;
        border-radius: 3px;
        text-align: left;
        padding: 25px 25px;
        display: block;
    }
    .quick{
        text-align: center;
    }
    .contact{
        text-align: center;
    }

    .media_box {
        text-align: center;
    }
    .media_box ul{
        text-align: center;
    }
    .logo_box{
        text-align: center;
    }
    .quick_links >ul>li {
        padding: 4px 0;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    
    .panel {
        position:initial;
        background: white;
        border-radius: 3px;
        text-align: left;
        padding: 25px 25px;
        display: block;
    }
    .media_box {
        text-align: center;
    }
    .logo_box {
        text-align: center;
    }
       .media_box ul{
           text-align: center;
       }
    }



/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
 
    .log_shop ul{
        text-align: right;
    }

    .panel {
        position: absolute;
        background: white;
        border-radius: 3px;
        text-align: left;
        padding: 25px 25px;
        display: block;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
   
    .log_shop ul{
        text-align: right;
    }
       
}